@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Libre+Baskerville&family=Inconsolata&display=swap");

body {
    font-family: "Libre Baskerville", serif;
    font-size: 16px;
    line-height: 1.5;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 512px;
    width: 100%;
}

.caption {
    display: block;
    text-align: center;
    font-style: italic;
    color: #444;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
table,
pre,
blockquote {
    orphans: 5;
    widows: 5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    margin-top: 2em;
    margin-bottom: 1em;
}

h4,
h5,
h6 {
    page-break-after: avoid;
    break-after: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 90%;
    margin-bottom: 2em;
}

th,
td {
    border: 1px solid #bbb;
    padding: 0.4em 0.8em;
    text-align: center;
}

th {
    background: #f5f5f5;
}

h1 {
    page-break-before: always;
    break-before: always;
}

blockquote {
    border-left: 4px solid #aaa;
    margin: 1.5em 0;
    padding: 0.5em 1em;
    color: #555;
    background: #fafafa;
}

hr.pagebreak {
    page-break-before: always;
    break-before: always;
    border: none;
    margin: 0;
    height: 0;
}

/*pre,
pre code,*/
code.hljs,
pre.hljs {
    background: #282a36 !important;
    color: #f8f8f2 !important;
    font-family: "Inconsolata", monospace;
    font-size: 14px;
    line-height: 1.4;
    border-radius: 4px;
    /*padding: 0.5em;*/
    /* overflow-x: auto; */
}

code {
    font-family: "Inconsolata", monospace;
}
